<!DOCTYPE html>
<html>
  <head>
    <title>PictweetApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header container">
      <div class="row">
        <div class=" header-bar col-lg-offset-3 col-lg-6 clearfix">
          <div class="header-left"><%= link_to books_path, "PICTWEET" %></div>
          <div class="header-right">
            <ul class="first-bar-menu">
              <li>
                <ul class="second-  bar-menu">
                  <li><%= link_to user_path(current_user.id), "マイページ" %></li>
                  <li><%= link_to destroy_usr_session, "ログアウト", method: :delete %></li>
                </ul>
              </li>
              <li><%= link_to new_post_path, "新規投稿" %></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-offset-3"></div>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
