<!DOCTYPE html>
<html>
  <head>
    <title>PictweetApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  </head>

  <body>
    <div class="header container">
      <div class="row">
        <div class=" header-bar col-lg-offset-3 col-lg-6 clearfix">
          <div class="header-left"><strong><%= link_to "PICTWEET", posts_path %></strong></div>
          <div class="header-right">
            <% if user_signed_in? %>
            <ul id="menus">
              <li class="menu-btn"><p><%= current_user.name %></p>
                <ul>
                  <li class="hide-menu"><%= link_to "マイページ", user_path(current_user.id) %></li>
                  <li class="hide-menu"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
                </ul>
              </li>
              <li class="new-form"><%= link_to  "投稿", new_post_path %></li>
            </ul>
            <% else %>
            <ul>
              <li><%= link_to "ログイン", new_user_session_path %></li>
              <li><%= link_to "新規登録", new_user_registration_path %></li>
            </ul>
            <% end %>
          </div>
        </div>
        <div class="col-lg-offset-3"></div>
      </div>
    </div>

    <!-- <div class="container">
      <div class="row">
        <div class="col-lg-offset-3 col-lg-6"> -->
    <%= yield %>
        <!-- </div>
        <div class="col-lg-offset-3"></div>
      </div>
    </div> -->
  </body>
</html>
